[Desktop Entry]
Name=IPTVnator
Exec=sh -c 'setsid /opt/IPTVnator/iptvnator %U >/dev/null 2>&1 &'
Terminal=true
Type=Application
Icon=iptvnator
StartupWMClass=IPTVnator
Comment=IPTV player application.
Categories=Video;
