# Settings made here will only override settings in the global retroarch.cfg if placed above the #include line

input_remapping_directory = "/opt/retropie/configs/sega32x/"

input_overlay_enable = "true"
input_overlay = "/opt/retropie/emulators/retroarch/overlays/PlayBox/tv_room.cfg"
video_shader_enable = "true"
video_shader = "/opt/retropie/configs/all/retroarch/shaders/16bit.glslp"
#video_smooth = "true"

core_options_path = "/opt/retropie/configs/sega32x/retroarch-core-options.cfg"

aspect_ratio_index = "23"
custom_viewport_width = "1468"
custom_viewport_height = "824"
custom_viewport_x = "227"
custom_viewport_y = "32"

savefile_directory = "~/RetroPie/saves/sega32x" 
savestate_directory = "~/RetroPie/saves/sega32x/states" 
<->
#include "/opt/retropie/configs/all/retroarch.cfg"
