[Desktop Entry]
Name=Screensaver
Exec=xscreensaver -no-splash
Comment=Launch screensaver and locker program
Icon=preferences-desktop-screensaver
Type=Application
X-GNOME-Autostart-enabled=true
NoDisplay=true			
