[Unit]
Description=Off Video
DefaultDependencies=no
Conflicts=reboot.target poweroff.target halt.target shutdown.target
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/usr/binmpv --ao=alsa --vo=gpu --fs /home/pi/PlayBox-Setup/turnoff.mp4

[Install]
WantedBy=multi-user.target
