[Unit]
Description=Off Video
DefaultDependencies=no
Conflicts=reboot.target poweroff.target halt.target shutdown.target
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/bin/true
ExecStop=/usr/bin/mpv --ontop --vo=drm /home/pi/PlayBox-Setup/turnoff.mp4 >/dev/null 2>&1

[Install]
WantedBy=multi-user.target
